/*body {
	background-color: rgb(175, 225, 212);
}
.col {
	height:50px;
	text-align: center;
	
	border:2px solid black;
	padding:10px;
	
	
}
.container {
	margin-top:40px;
	margin-bottom: 40px;
	box-shadow:10px 10px 10px 1px #888888;
}
.base {
	height:50px;
	width:30px;
	background-color: rgba(0,0,255,0.3);
	border:2px solid black;
}
h1,p {
	font-family: 'Aref Ruqaa', serif; 
	margin:20px;
	font-size:50px;
}
p {
	font-size:20px;
}*/
body {background-color: rgb(175, 225, 212);}.col {height:50px;text-align: center;border:2px solid black;padding:10px;}.container {margin-top:40px;margin-bottom: 40px;box-shadow:10px 10px 10px 1px #888888;}.base {height:50px;width:30px;background-color: rgba(0,0,255,0.3);border:2px solid black;}h1,p {font-family: 'Aref Ruqaa', serif;margin:20px;font-size:50px;}p {font-size:20px;}